guessingGame/out/*
guessingGame/.idea/*
guessingGame/bin/*
guessingGame/.settings/*
guessingGame/guessingGame.iml

guessingGame/out/*
guessingGame/.idea/*
guessingGame/bin/*
guessingGame/.settings/*
guessingGame/guessingGame.iml

guessingGame/out/*
guessingGame/.idea/*
guessingGame/bin/*
guessingGame/.settings/*
guessingGame/guessingGame.iml
