guessingGame/out/*
guessingGame/.idea/*
guessingGame/bin/*
guessingGame/.settings/*
guessingGame/guessingGame.iml

HiLo/out/*
HiLo/.idea/*
HiLo/bin/*
HiLo/.settings/*
HiLo/Hilo.iml

mcdJava/out/*
mcdJava/.idea/*
mcdJava/bin/*
mcdJava/.settings/*
mcdJava/mcdJava.iml
